body{
    align-content: center;
    background-color: aqua
}



.Resume{
    box-sizing: border-box ;
    border: 3px solid;
    height: 660px;
    width: 500px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    background: #10bc6f;

}
.LeftBox{
    box-sizing: border-box ;
    border-right: 3px solid;
    height: 655px;
    width: 180px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    background: #c17575;
}
.UpperBox{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    
    background: #a38f8f;
    box-sizing: border-box ;
    border-bottom: 3px solid;
    margin-left: 101.2%;
    height: 150px;
    width: 295px;

}